<%= form_for @post, html: { multipart: true } do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.label :title %><br>
	<%= f.text_field :title %><br>
	<br>
	<%= f.file_field :image %><br/>

	<%= f.label :body %><br>
	<%= f.text_field :body %><br>

	<!--form-group-->
	<div class="form-group required">
		<%= f.label :category_id, class: 'form-control-label required' do %>
			Lecture
			<abbr title="required">*</abbr>
		<% end %>
		<%= f.select :category_id, options_from_collection_for_select(Category.reorder('name asc'), :id, :name, @post.category_id), {:include_blank => true}, {required: 'true', class: 'form-control select required select2', placeholder: "Select user"} %>
	</div><!--form-group-->


	<br>
	<%= f.submit %>
<% end %>
